---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4" title="Sobre mi">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
    Hola, soy Richard, un desarrollador de software fullstack en Ecuador 🇪🇨 .
    <br />
    <br />
      Mis principales herramientas son:
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>Typescript</li>
        <li>React</li>
        <li>NodeJs</li>
        <li>NestJs</li>
        <li>Java</li>
        <li>Springboot</li>
        <li>Sql</li>
        <li>NoSql</li>
        <li>Linux</li>
        <li>Docker</li>
        <li>Firebase</li>
        <li>AWS</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Más allá de la codificación, me apasiona el manga como medio artístico, música y las ciencias en general. 
      Estoy fascinado por la tecnología y pienso en formas de integrarla en la política.
    </p>
  </div>
</Card>
