---
import Card from '../Card.astro'
import { Button } from '../ui/button'
import { LINKS } from '../../lib/constants'
import { Linkedin, Github, Mail } from 'lucide-react'
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-2">
  <div class="flex h-full w-full">
    <div class="flex flex-col justify-between gap-4 md:max-h-[300px]">
      <div class="flex h-full flex-col">
        <h6 class="m-0 text-sm font-light text-gray-500">Bienvenido</h6>
        <p class="m-0 text-xl font-light">
          Hola, soy <b class="font-bold">Richard Aguilar</b>, un creador de ideas, 
          tecnólogo superior en desarrollo de software y entusiasta de las tecnologías
          de vanguardia e innovadoras con un fuerte sentido de responsabilidad por mi trabajo.</br>
          Ya quiero enfrentarme a mi proximo reto!
        </p>
      </div>
      <div class="flex gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Github />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkeding profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Linkedin />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <a href={LINKS.mail} aria-label="mail profile" target="_blank">
          <Button>
            <Mail />
            <span class="sr-only">Email contact</span>
          </Button>
        </a>
      </div>
    </div>
    <img
      width="300"
      height="300"
      src="/richard-profile-photo.png"
      class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
      alt="memoji of andres plaza"
    />
  </div>
</Card>
