---
import Card from '../Card.astro'
import Pulse from '../Pulse.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
  <div class="mb-2 flex w-full items-start justify-between">
    <div class="flex flex-col">
      <h2>Actualmente</h2>
      <a href="https://sive.rs/nowff" target="_blank">
        <span class="cursor-pointer text-xs text-gray-500">¿Qué estoy haciendo?</span>
      </a>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">Estoy trabajando de forma autónoma.</p>
</Card>
