---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
  <div class="flex h-full flex-col justify-between">
    <blockquote class="mt-6 border-l-2 pl-6 italic">
      "Si puedes imaginarlo puedes programarlo"
    </blockquote>
    <p class="mt-2 text-xs">- Alejandro Taboada</p>
  </div>
</Card>
