---
const { datePost, title, keywords, resume,link } = Astro.props
---
<li class="md:min-w-[730px] animate mt-4 border-b border-black/10 py-8 first-of-type:mt-0 first-of-type:pt-0 dark:border-white/25">
  <div class="mb-4 text-sm uppercase">
    {datePost}
  </div>
  <a
    href={link?link:''}
    class={'font-semibold text-primary' }
  >
    {title}
  </a>
  <div class="text-sm font-semibold">{keywords}</div>
  <article class="prose dark:prose-invert">
    <p>{resume}</p>
  </article>
</li>


