---
import BaseLayout from './BaseLayout.astro'
import Card from '../components/Card.astro'
import BottomLayout from './BottomLayout.astro'
import TopLayout from './TopLayout.astro'
const { frontmatter } = Astro.props
---

<main>
  <BaseLayout>
    <Card>
      <TopLayout>
        <h1 class="mb-4 text-4xl text-primary">{frontmatter.title}</h1>
        <p class="mb-1"><strong>Publicado él: </strong>{frontmatter.pubDate}</p>
        <p class="mb-1"><strong>Autor: </strong>{frontmatter.author}</p>
        <p class="mb-1"><strong>Resumen: </strong>{frontmatter.resume}</p>
      </TopLayout>
      <BottomLayout>
        <slot />
      </BottomLayout>
    </Card>
  </BaseLayout>
</main>
